# Vscode
**/.vscode
# Build directories (C++)
**/build
# Zipfiles
**.zip
# Jupyter checkpoints
**/.ipynb_checkpoints
# HTML reports
**/html
# OT Numerical tours report
computational_optimal_transport/numerical_tours/report
computational_optimal_transport/numerical_tours/nt_toolbox
computational-optimal-transport/.ot/
